/*#course-complete-wrapper, #interval-selection-wrapper,
.grayout {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
}*/

#course-complete-dialogue, #interval-selection-dialogue,
.dialogue {
  position: relative;
  margin: 5% auto;
  /*background-color: #EEEEEE;*/
  width: 30%;
  min-width: 200px;
  /*height: 85%;*/
  padding: 15px;
}

#interval-selection-dialogue button {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-size: 1em;
    font-weight: bold;
    background: #33BB33;
    color: white;
    border: none;
    /*border-radius: 15px;*/
}

.hidden {
  display: none;
  opacity: 0;
}

.course-complete-content, .interval-selection-wrapper {
  color: black;
}
