#course-complete-dialogue, #interval-selection-dialogue,
.dialogue {
  position: relative;
  margin: 5% auto;
  width: 30%;
  min-width: 200px;
  padding: 15px;
}

#interval-selection-dialogue button {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-size: 1em;
    background: #33BB33;
    color: white;
    border: none;
}

.select-all {
    margin-top: 10px;
}

.hidden {
  display: none;
  opacity: 0;
}

.course-complete-content, .interval-selection-wrapper {
  color: black;
}
