/* MAIN STYLES */

@import 'buttons';

body {
  width: 100%;
  height: 100%;
  font-family: Helvetica, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

h1,
.main-content {
  // text-align: center;
    input[type=submit] {
      text-align: right;
    }
}

h1 {
  @media screen and (max-width: 475px) {
    font-size: 1.2em;
  }
}

.box-title {
  margin: 15px;
}

fieldset {
  border: none;
}

form {
  display: inline-block;
}

.interval-selection-box {
  padding: 15px;
}

input[type=checkbox] {
    opacity: .5;
}

.interval-selection {
    label,
    p {
        text-align: center;
    }
    label {
        $top-btm-padding: 10px;
        margin: 5px auto;
        padding-top: $top-btm-padding;
        padding-bottom: $top-btm-padding;
        display: block;
        color: white;
        width: 45%;
        background-color: lighten($play-bg, 10%);
    }
    input[type=checkbox]:checked + label {
        background-color: $play-bg;
    }
}

.container {
    margin-left: 25px;
}

div > a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}


#login-status-wrapper {
  position: absolute;
  right: 3%;
  top: 3%;
  font-weight: normal;
  font-size: 0.9em;
  a {
    display: block;
    text-align: right;
  }
  @media screen and (max-width: 475px) {
    p {
      display: none;
    }
  }
}

#logout {
  text-align: right;
  font-weight: normal;
  color: #001077;
}

.centered-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.disabled {
  color: #F5F5F5;
  background: #DDDDDD;
  text-decoration: line-through;
}
