/* MAIN STYLES */

@import 'buttons';

$top-btm-padding: 3px;

* {
    box-sizing: border-box;
    margin: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: Helvetica, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.main-content {
    width: 33%;
    min-width: 150px;
    margin: 3em auto 0 auto;
    border: 2px solid #AAA;
    border-radius: $border-rad;
    padding: 20px;
    box-shadow: 7px 7px 3px #DDD;
    h1 {
        font-size: 1.1em;
        margin: 0;
        text-align: center;
    }

    dl {
        margin: 0 auto;
        width: 50%;
    }

    input[type='submit'] {
        margin-top: 1em;
    }
}

form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

h1 {
    text-align: right;
    @media screen and (max-width: 475px) {
        font-size: 1.2em;
    }
}
.main-title {
    text-align: left;
}
fieldset {
  text-align: center;
  border: none;
}

form {
  display: inline-block;
}

.interval-selection-box {
  padding: 15px;
}

input[type='checkbox'] {
    position: absolute;
    top: -10px;
    left: -10px;
    opacity: 0;
}

.interval-selection {

    label,
    p {
        text-align: center;
    }
    label {
        font-size: 0.8em;
        margin: 5px auto;
        padding-top: $top-btm-padding;
        padding-bottom: $top-btm-padding;
        border-radius: $border-rad;
        display: block;
        color: white;
        width: 45%;
        min-width: 110px;
        background-color: lighten($play-bg, 10%);
        &:last-child {
            margin-top: 2em;
        }
    }
    input[type='checkbox']:checked + label {
        background-color: $play-bg;
    }
}

.container {
    margin-left: 25px;
}

div > a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}


#login-status-wrapper {
  position: absolute;
  right: 3%;
  top: 3%;
  font-weight: normal;
  font-size: 0.8em;
  a {
    display: block;
    text-align: right;
  }
  @media screen and (max-width: 475px) {
    p {
      display: none;
    }
  }
}

#logout {
  text-align: right;
  font-weight: normal;
  color: #001077;
}

.centered-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.disabled {
  color: #F5F5F5;
  background: #DDDDDD;
  text-decoration: line-through;
}
