{% extends "ear_training/base.html" %}
{% load staticfiles %}
<!DOCTYPE html>
{% block title %}Intramusical{% endblock title %}
<body>
{% block content %}
  <header>
    <h1 class="main-title">Intramusical</h1>
  {% if user.is_authenticated %}
  <div id="login-status-wrapper">
    <p id="login-status">
      Logged in as <span id=username>{{ user.username }}</span>
    </p>
    <a href="/logout/" id="logout">Logout</a>
  </div>
  {% endif %}
  </header>
  {% if user.is_authenticated %}
    <p class="hidden" id="course-progress">
      Exercise <span id="current"></span> / <span id="course-total"></span>
    </p>
  {% endif %}
  <div class="hidden exercise-content-wrapper">
      <p>
        To complete this exercise, identify the interval.
         Play the notes with the blue buttons, then select your answer.
      </p>
      <div id="play-button-container" class="button-container">
        <button id="top-note-button" class="play-button" autocomplete="off">top note</button><!--
        --><button id="bottom-note-button" class="play-button" autocomplete="off">bottom note</button><!--
        --><button id="both-notes-button" class="play-button" autocomplete="off">both notes</button>
      </div>

      <p>Select an interval:</p>
        <div id="answer-button-container" class="button-container"></div>
      <p id="answer-result"></p>
      <div class="button-container">
          <button id="show-answer-btn" class="state-change-button" autocomplete="off">Show Answer</button>
          <button id="next-btn" class="state-change-button" autocomplete="off">Next</button>
      </div>
  </div>
<!-- SELECT INTERVALS DIALOGUE BOX -------------------------------------------->
<div class="hidden" id="interval-selection-wrapper">
  <div class="hidden" id="interval-selection-dialogue" class="inteval-selection-box">
    <div id="interval-selection-content" class="interval-selection">
      <p>Select intervals to include in the course:</p>
        <fieldset id="option-boxes">
          <input id="minor-second" class="interval" type="checkbox" autocomplete="off" />
          <label for="minor-second" class="interval-label">
            minor second
          </label>
          <input id="major-second" class="interval" type="checkbox" autocomplete="off" />
          <label for="major-second" class="interval-label">
            major second
          </label>
          <input id="minor-third" class="interval" type="checkbox" autocomplete="off" />
          <label for="minor-third" class="interval-label">
            minor third
          </label>
          <input id="major-third" class="interval" type="checkbox" autocomplete="off" />
          <label for="major-third" class="interval-label">
            major third
          </label>
          <input id="perfect-fourth" class="interval" type="checkbox" autocomplete="off" />
          <label for="perfect-fourth" class="interval-label">
            perfect fourth
          </label>
          <input id="tritone" class="interval" type="checkbox" autocomplete="off" />
          <label for="tritone" class="interval-label">
            tritone
          </label>
          <input id="perfect-fifth" class="interval" type="checkbox" autocomplete="off" />
          <label for="perfect-fifth" class="interval-label">
            perfect fifth
          </label>
          <input id="minor-sixth" class="interval" type="checkbox" autocomplete="off" />
          <label for="minor-sixth" class="interval-label">
            minor sixth
          </label>
          <input id="major-sixth" class="interval" type="checkbox" autocomplete="off" />
          <label for="major-sixth" class="interval-label">
            major sixth
          </label>
          <input id="minor-seventh" class="interval" type="checkbox" autocomplete="off" />
          <label for="minor-seventh" class="interval-label">
            minor seventh
          </label>
          <input id="major-seventh" class="interval" type="checkbox" autocomplete="off" />
          <label for="major-seventh" class="interval-label">
            major seventh
          </label>
          <input id="octave" class="interval" type="checkbox" autocomplete="off" />
          <label for="octave" class="interval-label">
            octave
          </label>
          <input id="select-all" type="checkbox" autocomplete="off" />
          <label for="select-all" class="select-all">
            select all
          </label>
        </fieldset>
        <div class="course-length-wrapper">
            <h3 class="course-length-heading">Number of Exercises</h3>
            <input id="short" class="course-length" type="radio" name="course-length" value="short" autocomplete="off" checked>
            <label for="short">Shorter course (6 of each)</label>
            <input id="long" class="course-length" type="radio" name="course-length" value="long" autocomplete="off">
            <label for="long">Longer course (12 of each)</label>
        </div>
        <button id="build-course-button" class="state-change-button hidden" type="button" name="build-course-button" autocomplete="off">Build Course</button>
    </div>
  </div>
</div>
<!-- COURSE COMPLETE DIALOGUE BOX ----------------------------------------------->
<div class="hidden" id="course-complete-wrapper">
  <div class="hidden" id="course-complete-dialogue">
    <div id="course-complete-content">
      <h2 id="course-complete-title">Results</h2>
      <p>Exercises completed: <span id="ex-completed">0</span></p>
      <p>Exercises skipped: <span id="ex-skipped">0</span></p>
      <p>Correct answers: <span id="ex-correct">0</span></p>
      <p>Incorrect answers: <span id="ex-incorrect">0</span></p>
      <a href="/" id="dialogue-ok"><button class="state-change-button" type="button">Return to Homepage</button></a>
      <a href="/{{ user.username }}/results/" id="dialogue-results"><button class="state-change-button" type="button">See Overall Results</button></a>
    </div>
  </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" charset="utf-8"></script>
<script src="{% static 'ear_training/js/underscore-min.js' %}"></script>
<script src="{% static 'ear_training/js/Tone.js' %}"></script>
<script src="{% static 'ear_training/js/helpers.js' %}"></script>
<script src="{% static 'ear_training/js/intramusical.js' %}"></script>
<script src="{% static 'ear_training/js/dialogue.js' %}"></script>
<script src="{% static 'ear_training/js/coursemain.js' %}"></script>
{% endblock content %}
