{% extends "ear_training/base.html" %}
{% load staticfiles %}
<head>
{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'ear_training/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'ear_training/css/ear_training.css' %}">
{% endblock head %}
</head>
<body>
{% block content %}
    <div class="main-content">
        <h1>
          Login
        </h1>
      <form method="post">
        {% csrf_token %}
            <fieldset>
                <dl class="form-group">
                        <dt><label for="username-input">Username</label></dt>
                        <dd><input id="username-input" type="text" name="username" required></dd>
                        <dt><label for="password-input">Password</label></dt>
                        <dd><input id="password-input" type="password" name="password" required></dd>
                </dl>
                <input class="login-button" type="submit" value="Go">
            </fieldset>
      </form>
    </div>

    <script src="{% static 'ear_training/underscore-min.js' %}"></script>
    <script src="{% static 'ear_training/form_validation.js' %}"></script>
{% endblock content %}
</body>
