{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <meta charset="utf-8">
        <title>Results</title>
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Arvo:400,700'>
        <link rel="stylesheet" href="{% static 'ear_training_app/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'ear_training_app/css/ear_training.css' %}">
        <link rel="stylesheet" href="{% static 'ear_training_app/css/dialogue.css' %}">
    {% endblock head %}
    </head>
    <body>
        {% block content %}
        This is the base template content.
        {% endblock content %}
    </body>
</html>
