{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <link rel="stylesheet" href='{% static "ear_training_app/base_generic.css" %}'>
  <link rel="stylesheet" href='{% static "ear_training_app/ear_training.css" %}'> -->
</head>
<body>
  <h1>Course Content</h1>
  <p>
    Intervals included in the course:
  </p>
    <fieldset id="option-boxes">
      <label for="min-second">minor second</label>
        <input id="min-second" type="checkbox" />
      <label for="maj-second">major second</label>
        <input id="maj-second" type="checkbox" />
      <label for="min-third">minor third</label>
        <input id="min-third" type="checkbox" />
      <label for="maj-third">major third</label>
        <input id="maj-third" type="checkbox" />
      <label for="per-fourth">perfect fourth</label>
        <input id="per-fourth" type="checkbox" />
      <label for="tritone">tritone</label>
        <input id="tritone" type="checkbox" />
      <label for="per-fifth">perfect fifth</label>
        <input id="per-fifth" type="checkbox" />
      <label for="min-sixth">minor sixth</label>
        <input id="min-sixth" type="checkbox" />
      <label for="maj-sixth">major sixth</label>
        <input id="maj-sixth" type="checkbox" />
      <label for="min-seventh">minor seventh</label>
        <input id="min-seventh" type="checkbox" />
      <label for="maj-seventh">major seventh</label>
        <input id="maj-seventh" type="checkbox" />
      <label for="octave">octave</label>
        <input id="octave" type="checkbox" />
    </fieldset>
    <button id="build-course-button" type="button" name="build-course-button">Build Course</button>
  </form>
</body>
<script type="text/javascript" src="helpers.js"></script>
<script type="text/javascript">
    function displayChecked(){
        var checkedStr = buildCheckedString();
        var output = document.getElementById("output");
        if (output === null) {
            var p = document.createElement("p");
            p.id = "output";
            document.body.appendChild(p);
            output = p;
        }
        else {
            output.innerHTML = "";
        }
        output.innerHTML = checkedStr;
        printList(makeIntervalNames(buildCheckedString()));
    }

    function printList(list) {
        var outputString = "";
        for (var i = 0; i < list.length; i++) {
            outputString += list[i].toString() + " ";
        }
        outputString = outputString.slice(0, -1);
        var outputElement = document.createElement("p");
        outputElement.innerHTML = outputString;
        document.body.appendChild(outputElement);
    }
  document.getElementById("build-course-button").addEventListener("click", displayChecked);
</script>
</html>
