<!DOCTYPE html>
<html>
<head lang="en">
  <link rel="stylesheet" href="{% static 'ear_training_app/dialogue.css' %}">
  <script src="{% static 'ear_training_app/dialogue.js' %}"></script>
</head>
<body>
  <div class="hidden" id="grayout">
    <div class="hidden" id="dialogue">
      <div class="content">
        <h2 id="dialogue-title">Results</h2>
        <p>Exercises completed: <span id="ex-completed">0</span></p>
        <p>Exercises skipped: <span id="ex-skipped">0</span></p>
        <p>Correct answers: <span id="ex-correct">0</span></p>
        <p>Incorrect answers: <span id="ex-incorrect">0</span></p>
      </div>
    </div>
  </div>
</body>
</html>
