{% load staticfiles %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
       Intervals
  </title>
  <link rel="stylesheet" href="{% static 'ear_training_app/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'ear_training_app/css/dialogue.css' %}">
  <link rel="stylesheet" href="{% static 'ear_training_app/css/ear_training.css' %}">
</head>
<body>
  <header>
    <h1 class="main-title">Intramusical</h1>
  {% if user.is_authenticated %}
  <div id="login-status-wrapper">
    <p id="login-status">
      Logged in as <span id=username>{{ user.username }}</span>
    </p>
    <a href="/logout/" id="logout">Logout</a>
  </div>
  {% endif %}
  </header>
  {% if user.is_authenticated %}
    <p class="hidden" id="course-progress">
      Exercise <span id="current"></span> / <span id="course-total"></span>
    </p>
  {% endif %}
  <div class="hidden exercise-content-wrapper">
      <p>
        To complete this exercise, identify the interval.
         Play the notes with the blue buttons, then select your answer.
      </p>
      <div id="play-button-container" class="button-container">
        <button id="top-note-button" class="play-button">top note</button><!--
        --><button id="bottom-note-button" class="play-button">bottom note</button><!--
        --><button id="both-notes-button" class="play-button">both notes</button>
      </div>

      <p>Select an interval:</p>
        <div id="answer-button-container" class="button-container"></div>
      <p id="answer-result"></p>
      <div class="button-container">
          <button id="save" class="state-change-button">Save and Continue</button>
      </div>
  </div>
<!-- SELECT INTERVALS DIALOGUE BOX -------------------------------------------->
<div class="hidden" id="interval-selection-wrapper">
  <div class="hidden" id="interval-selection-dialogue" class="inteval-selection-box">
    <div id="interval-selection-content" class="interval-selection">
      <!-- <h1 id="interval-selection-title" class="box-title">Course Content</h1> -->
      <p>Select intervals to include in the course:</p>
        <fieldset id="option-boxes">
          <input id="minor-second" class="interval" type="checkbox" />
          <label for="minor-second" class="interval-label">
            minor second
          </label>
          <input id="major-second" class="interval" type="checkbox" />
          <label for="major-second" class="interval-label">
            major second
          </label>
          <input id="minor-third" class="interval" type="checkbox" />
          <label for="minor-third" class="interval-label">
            minor third
          </label>
          <input id="major-third" class="interval" type="checkbox" />
          <label for="major-third" class="interval-label">
            major third
          </label>
          <input id="perfect-fourth" class="interval" type="checkbox" />
          <label for="perfect-fourth" class="interval-label">
            perfect fourth
          </label>
          <input id="tritone" class="interval" type="checkbox" />
          <label for="tritone" class="interval-label">
            tritone
          </label>
          <input id="perfect-fifth" class="interval" type="checkbox" />
          <label for="perfect-fifth" class="interval-label">
            perfect fifth
          </label>
          <input id="minor-sixth" class="interval" type="checkbox" />
          <label for="minor-sixth" class="interval-label">
            minor sixth
          </label>
          <input id="major-sixth" class="interval" type="checkbox" />
          <label for="major-sixth" class="interval-label">
            major sixth
          </label>
          <input id="minor-seventh" class="interval" type="checkbox" />
          <label for="minor-seventh" class="interval-label">
            minor seventh
          </label>
          <input id="major-seventh" class="interval" type="checkbox" />
          <label for="major-seventh" class="interval-label">
            major seventh
          </label>
          <input id="octave" class="interval" type="checkbox" />
          <label for="octave" class="interval-label">
            octave
          </label>
          <input id="select-all" type="checkbox" />
          <label for="select-all" class="select-all">
            select all
          </label>
        </fieldset>
        <button id="build-course-button" class="state-change-button hidden" type="button" name="build-course-button">Build Course</button>
    </div>
  </div>
</div>
<!-- COURSE COMPLETE DIALOGUE BOX ----------------------------------------------->
<div class="hidden" id="course-complete-wrapper">
  <div class="hidden" id="course-complete-dialogue">
    <div id="course-complete-content">
      <h2 id="course-complete-title">Results</h2>
      <p>Exercises completed: <span id="ex-completed">0</span></p>
      <p>Exercises skipped: <span id="ex-skipped">0</span></p>
      <p>Correct answers: <span id="ex-correct">0</span></p>
      <p>Incorrect answers: <span id="ex-incorrect">0</span></p>
      <a href="/" id="dialogue-ok"><button class="state-change-button centered-block" type="button">Return to Homepage</button></a>
    </div>
  </div>
</div>
  <footer>
  </footer>
</body>
<script src="{% static 'ear_training_app/underscore-min.js' %}"></script>
<script src="{% static 'ear_training_app/tones.js' %}"></script>
<script src="{% static 'ear_training_app/helpers.js' %}"></script>
<script src="{% static 'ear_training_app/intramusical.js' %}"></script>
<script src="{% static 'ear_training_app/dialogue.js' %}"></script>
<script src="{% static 'ear_training_app/coursemain.js' %}"></script>
