{% load staticfiles %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
       Intervals
  </title>
  <link rel="stylesheet" href="{% static 'ear_training_app/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'ear_training_app/css/dialogue.css' %}">
  <link rel="stylesheet" href="{% static 'ear_training_app/css/ear_training.css' %}">
</head>
<body>
  <header>
    <h1 class="main-title">Intramusical</h1>
  {% if user.is_authenticated %}
  <div id="login-status-wrapper">
    <p id="login-status">
      Logged in as <span id=username>{{ user.username }}</span>
    </p>
    <a href="/logout/" id="logout">Logout</a>
  </div>
  {% endif %}
  </header>
  {% if user.is_authenticated %}
    <p id="course-progress">
      Exercise <span id="current"></span>/<span id="course-total"></span>
    </p>
  {% endif %}
  <div class="exercise-content">
      <p>
        To complete this exercise, identify the interval.
         Play the notes with the blue buttons, then select your answer.
      </p>
      <div id="play-button-container" class="button-container">
      <button id="top-note-button" class="play-button">top note</button>
      <button id="bottom-note-button" class="play-button">bottom note</button>
      <button id="both-notes-button" class="play-button">both notes</button>
      </div>

      <p>Select an interval:</p>
        <div id="answer-button-container" class="button-container">
          <button class="answer-button"></button>
        </div>
      <p id="answer-result"></p>
      <button id="save" class="state-change-button">Save and Continue</button>
  </div>
<!-- SELECT INTERVALS DIALOGUE BOX -------------------------------------------->
<div class="hidden" id="interval-selection-wrapper">
  <div class="hidden" id="interval-selection-dialogue" class="inteval-selection-box">
    <div id="interval-selection-content" class="interval-selection">
      <h1 id="interval-selection-title" class="box-title">Course Content</h1>
      <p>Intervals included in the course:</p>
        <fieldset id="option-boxes">
          <label for="min-second" class="interval-label">
            <input id="min-second" type="checkbox" />
            minor second
          </label>
          <label for="maj-second" class="interval-label">
            <input id="maj-second" type="checkbox" />
            major second
          </label>
          <label for="min-third" class="interval-label">
            <input id="min-third" type="checkbox" />
            minor third
          </label>
          <label for="maj-third" class="interval-label">
            <input id="maj-third" type="checkbox" />
            major third
          </label>
          <label for="per-fourth" class="interval-label">
            <input id="per-fourth" type="checkbox" />
            perfect fourth
          </label>
          <label for="tritone" class="interval-label">
            <input id="tritone" type="checkbox" />
            tritone
          </label>
          <label for="per-fifth" class="interval-label">
            <input id="per-fifth" type="checkbox" />
            perfect fifth
          </label>
          <label for="min-sixth" class="interval-label">
            <input id="min-sixth" type="checkbox" />
            minor sixth
          </label>
          <label for="maj-sixth" class="interval-label">
            <input id="maj-sixth" type="checkbox" />
            major sixth
          </label>
          <label for="min-seventh" class="interval-label">
            <input id="min-seventh" type="checkbox" />
            minor seventh
          </label>
          <label for="maj-seventh" class="interval-label">
            <input id="maj-seventh" type="checkbox" />
            major seventh
          </label>
          <label for="octave" class="interval-label">
            <input id="octave" type="checkbox" />
            octave
          </label>
        </fieldset>
        <button id="build-course-button" class="state-change-button hidden" type="button" name="build-course-button">Build Course</button>
    </div>
  </div>
</div>
<!-- COURSE COMPLETE DIALOGUE BOX ----------------------------------------------->
<div class="hidden" id="course-complete-wrapper">
  <div class="hidden" id="course-complete-dialogue">
    <div id="course-complete-content">
      <h2 id="course-complete-title">Results</h2>
      <p>Exercises completed: <span id="ex-completed">0</span></p>
      <p>Exercises skipped: <span id="ex-skipped">0</span></p>
      <p>Correct answers: <span id="ex-correct">0</span></p>
      <p>Incorrect answers: <span id="ex-incorrect">0</span></p>
      <a href="/" id="dialogue-ok"><button class="state-change-button centered-block" type="button">Return to Homepage</button></a>
    </div>
  </div>
</div>
  <footer>
  </footer>
</body>
<script src="{% static 'ear_training_app/underscore-min.js' %}"></script>
<script src="{% static 'ear_training_app/tones.js' %}"></script>
<script src="{% static 'ear_training_app/intramusical.js' %}"></script>
<script src="{% static 'ear_training_app/helpers.js' %}"></script>
<script src="{% static 'ear_training_app/dialogue.js' %}"></script>
<script src="{% static 'ear_training_app/coursemain.js' %}"></script>
