  <body>
  <form class="" action="/checkbox-result/" method="post">
    {% csrf_token %}
    <div class="hidden" id="si-dialogue">
      <div id="si-content">
        <h1 id="si-title">Course Content</h1>
        <p>Intervals included in the course:</p>
          <fieldset id="option-boxes">
            <label for="min-second">minor second
              <input id="min-second" type="checkbox" name="min-second" value="1" />
            </label>
            <label for="maj-second">major second
              <input id="maj-second" type="checkbox" name="maj-second" value="1"/>
            </label>
            <label for="min-third">minor third
              <input id="min-third" type="checkbox" name="min-third" value="1"/>
            </label>
            <label for="maj-third">major third
              <input id="maj-third" type="checkbox" name="maj-third" value="1"/>
            </label>
            <label for="per-fourth">perfect fourth
              <input id="per-fourth" type="checkbox" name="per-fourth" value="1"/>
            </label>
            <label for="tritone">tritone
              <input id="tritone" type="checkbox" name="tritone" value="1"/>
            </label>
            <label for="per-fifth">perfect fifth
              <input id="per-fifth" type="checkbox" name="per-fifth" value="1"/>
            </label>
            <label for="min-sixth">minor sixth
              <input id="min-sixth" type="checkbox" name="min-sixth" value="1"/>
            </label>
            <label for="maj-sixth">major sixth
              <input id="maj-sixth" type="checkbox" name="maj-sixth" value="1"/>
            </label>
            <label for="min-seventh">minor seventh
              <input id="min-seventh" type="checkbox" name="min-seventh" value="1"/>
            </label>
            <label for="maj-seventh">major seventh
              <input id="maj-seventh" type="checkbox" name="maj-seventh" value="1"/>
            </label>
            <label for="octave">octave
              <input id="octave" type="checkbox" name="octave" value="1"/>
            </label>
          </fieldset>
          <input id="build-course-button" type="submit" value="Build Course">
      </div>
    </div>
  </form>
</body>
