{% load staticfiles %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>
       Intervals
  </title>
  <link rel="stylesheet" href="{% static 'ear_training_app/ear_training.css' %}">
  <link rel="stylesheet" href="{% static 'ear_training_app/css/dialogue.css' %}">
</head>
<body>
  <h2>Exercise Page</h2>
  {% if user.is_authenticated %}
    <p id="course-progress">
      Exercise <span id="current"></span>/<span id="course-total"></span>
    </p>
  {% endif %}
    <p>
      To complete this exercise, identify the interval.
       You may play the top or bottom note alone, or both notes together, using the buttons below.
    </p>
    <div id="play-button-container">
      <div id="top-note-button" class="play-button">top note</div>
      <div id="bottom-note-button" class="play-button">bottom note</div>
      <div id="both-notes-button" class="play-button">both notes</div>
    </div>

  <p>Select an interval:</p>
    <div id="answer-button-container">
      <div class="answer-button"></div>
    </div>
  <p id="answer-result"></p>
  {% if user.is_authenticated %}
  <div id="login-status-wrapper">
    <p id="login-status">
      Logged in as <span id=username>{{ user.username }}</span>
    </p>
    <a href="/logout/" id="logout">Logout</a>
  </div>
  {% endif %}
<footer>
  <div id="courses"><a href="{% url 'course_selection' %}">Back to courses page</a></div>
  <div id="next">Next Exercise</div>
</footer>
<!-- SELECT INTERVALS DIALOGUE BOX -------------------------------------------->
<div class="hidden" id="si-grayout">
  <div class="hidden" id="si-dialogue">
    <div id="si-content">
      <h1 id="si-title">Course Content</h1>
      <p>Intervals included in the course:</p>
        <fieldset id="option-boxes">
          <label for="min-second">minor second
            <input id="min-second" type="checkbox" />
          </label>
          <label for="maj-second">major second
            <input id="maj-second" type="checkbox" />
          </label>
          <label for="min-third">minor third
            <input id="min-third" type="checkbox" />
          </label>
          <label for="maj-third">major third
            <input id="maj-third" type="checkbox" />
          </label>
          <label for="per-fourth">perfect fourth
            <input id="per-fourth" type="checkbox" />
          </label>
          <label for="tritone">tritone
            <input id="tritone" type="checkbox" />
          </label>
          <label for="per-fifth">perfect fifth
            <input id="per-fifth" type="checkbox" />
          </label>
          <label for="min-sixth">minor sixth
            <input id="min-sixth" type="checkbox" />
          </label>
          <label for="maj-sixth">major sixth
            <input id="maj-sixth" type="checkbox" />
          </label>
          <label for="min-seventh">minor seventh
            <input id="min-seventh" type="checkbox" />
          </label>
          <label for="maj-seventh">major seventh
            <input id="maj-seventh" type="checkbox" />
          </label>
          <label for="octave">octave
            <input id="octave" type="checkbox" />
          </label>
        </fieldset>
        <button id="build-course-button" type="button" name="build-course-button">Build Course</button>
    </div>
  </div>
</div>
<!-- COURSE COMPLETE DIALOGUE BOX ----------------------------------------------->
<div class="hidden" id="cc-grayout">
  <div class="hidden" id="cc-dialogue">
    <div id="cc-content">
      <h2 id="cc-dialogue-title">Results</h2>
      <p>Exercises completed: <span id="ex-completed">0</span></p>
      <p>Exercises skipped: <span id="ex-skipped">0</span></p>
      <p>Correct answers: <span id="ex-correct">0</span></p>
      <p>Incorrect answers: <span id="ex-incorrect">0</span></p>
      <button id="dialogue-ok">OK</button>
    </div>
  </div>
</div>
</body>
<script src="{% static 'ear_training_app/tones.js' %}"></script>
<script src="{% static 'ear_training_app/helpers.js' %}"></script>
<script src="{% static 'ear_training_app/dialogue.js' %}"></script>
<script src="{% static 'ear_training_app/course.js' %}"></script>
