{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'ear_training_app/base_generic.css' %}">
</head>
<body>
  <h1>
    Register
  </h1>
  <form method="post">
    {% csrf_token %}
    <label id="username-label">
      <p>Username</p>
      <input type="text" id="username" name="username">
    </label>
    <br>
    <label id="password-label">
      <p>Password</p>
      <input type="password" id="password" name="password">
    </label>
    <br>
      <input type="submit" value="Register">
  </form>
  <p><a href="/">Home</a></p>
</body>
