/*
Color scheme based on "Lazy River" by MarieLoup, available at:
http://www.colourlovers.com/palette/4010289/Lazy_River
*/

$lazyRiverBlue: rgb(15, 139, 147);
$unityGold: rgb(252, 193, 57);
$softPeach: rgb(247, 238, 179);
$hottyOrange: rgb(248, 96, 21);
$darkAccent: rgb(81, 41, 41);
$answerBG: darken($unityGold, 10%);
