/* MAIN STYLES */

@import 'colors';
@import 'buttons';


$topBottomPadding: 3px;

* {
    box-sizing: border-box;
    margin: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Arvo', Helvetica, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

header {
    border-bottom: 2px solid $darkAccent;
    padding: 0.75rem;
}

.main-content {
    width: 33%;
    min-width: 150px;
    margin: 3em auto 0 auto;
    border: 2px solid #AAA;
    border-radius: $borderRad;
    padding: 20px;
    box-shadow: 7px 7px 3px #DDD;
    h1 {
        margin: 0;
        font-size: 1.1em;
        text-align: center;
    }

    dl {
        margin: 0 auto;
        width: 50%;
    }

    dt {
        margin-top: 0.5em;
    }

    input[type='submit'] {
        margin-top: 1em;
    }

    p {
        margin-top: 1rem;
        text-align: center;
        font-size: 0.7rem;
    }
}

input.invalid {
    border: 2px solid red;
}

a {
    text-decoration: none;
}

form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

h1 {
    text-align: right;
    @media screen and (max-width: 475px) {
        font-size: 1.2em;
    }
}

.main-title {
    margin: 0;
    text-align: left;
}

fieldset {
  text-align: center;
  border: none;
}

form {
  display: inline-block;
}

.interval-selection-box {
  padding: 15px;
}

input[type='checkbox'],
input[type='radio'] {
    position: absolute;
    // top: -10px;
    left: -500px;
    opacity: 0;
}

.interval-selection {

    label,
    p {
        text-align: center;
    }
    label {
        font-size: 0.8em;
        margin: 5px auto;
        padding-top: $topBottomPadding;
        padding-bottom: $topBottomPadding;
        border-radius: $borderRad;
        display: block;
        color: white;
        width: 45%;
        min-width: 110px;
        background-color: lighten($lazyRiverBlue, 3%);
        box-shadow: 0.3em 0.3em 0.3em #DDD;
        &.select-all {
            margin-top: 2em;
        }
        &:hover {
            background-color: darken($lazyRiverBlue, 3%);
        }
    }
    input[type='checkbox']:checked + label {
        background-color: darken($lazyRiverBlue, 5%);
    }
}

.container {
    margin-left: 25px;
}

.course-length-wrapper {
    text-align: center;
    h3 {
        font-size: inherit;
        font-weight: normal;
    }
    label {
        padding: 0.35em;
        background: $hottyOrange;
        margin: 5px auto;
        &:hover {
            background: $hottyOrange;
        }
    }
}

input[type="radio"]:checked + label {
    background: darken($hottyOrange, 5%);
}

#login-status-wrapper {
  position: absolute;
  right: 3%;
  top: 3%;
  font-weight: normal;
  font-size: 0.8em;
  a {
    display: block;
    text-align: right;
  }
  @media screen and (max-width: 475px) {
    p {
      display: none;
    }
  }
}

#logout {
  text-align: right;
  font-weight: normal;
  color: #001077;
}

.centered-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.disabled {
  color: #F5F5F5;
  background: #DDDDDD;
  text-decoration: line-through;
}

#results-visibility {
    position: static;
    opacity: 1;
}

#error-container {
    color: red;
    font-size: 0.9em;
}
