$borderRad: 0.4em;

.button-container {
  margin: 35px;
  @media screen and (max-width: 475px) {
    margin: 10px;
  }
}

 button {
  display: inline;
  text-align: center;
  margin-left: 5px;
  padding: 15px;
  border-radius: $borderRad;
  border: none;
  color: white;
  box-shadow: 3px 3px 3px #DDD;
  // font-weight: bold;
  @media screen and (max-width: 475px) {
    margin-left: 3px;
    padding: 7px;
  }
}

#answer-button-container button {
  @media screen and (max-width: 475px) {
    margin-left: 0;
    margin-bottom: 5px;
    display: block;
  }
}

.build-button {
    background-color: lighten($darkAccent, 10%);
    &:hover {
        background-color: $darkAccent;
    }
}

.play-button {
  background-color: $lazyRiverBlue;
}

.answer-button {
  background-color: $answerBG;
}

.pushed-answer-button {
    background-color: darken($answerBG, 5%);
}

.state-change-button {
    background-color: $hottyOrange;
}

.login-button {
    background-color: $hottyOrange;
    padding: 8px 12px;
    border-radius: $borderRad;
    border: none;
    color: white;
    &:hover {
        background-color: darken($hottyOrange, 5%);
    }
}
